* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClassicalGaramondBT';

}

ul,
li {
    list-style-type: none;
}

button,
input,
textarea {
    border: none;
    outline: none;
}

:root {
    --dark: #1a1919;
    --lightDark: #242222;
    --cream: #f6f4f2;
    --main: #9a7b69;
    --darkWhite: #aeaeae;
}

a {
    text-decoration: none;
    color: white;
}


/* MENU */

.menu {
    width: 100%;

}

.topMenu {
    height: 32px;
    background: var(--lightDark);
}

.menuWrapper {
    background: var(--dark);
}

.menuList {
    max-width: 1239px;
    margin: 0 auto;
    width: 100%;
}

.menuList a {
    color: var(--darkWhite);
    font-size: 16px;
    transition: color .3s cubic-bezier(.32, .24, .15, 1);
    font-weight: 400;
    -webkit-text-stroke-width: 0 !important
}

#header-logo {
    width: 150px;
    height: 18px;
    margin-right: 48px;
}

.menuList ul {
    display: flex;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}

.menuList>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItem {
    padding-left: 17px;
    padding-right: 18px;
}

.menuButtons {
    display: flex;
}

.blackButton {
    min-width: 130px;
    max-width: 240px;
    padding: 8px 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    font-family: 'ScalaSansOT';
    transition: 0.3s;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
}

.menuButtons li {
    margin-right: 33px;
}

.blackButton:hover {
    background: white;
    color: var(--dark);
}

.menuLink hr {
    height: 2px;
    width: 0%;
    border: none;
    background: white;
    position: relative;
    top: 20px;
    opacity: 1;
    transition: all .3s cubic-bezier(.32, .24, .15, 1);
}


.menuItem:hover .menuLink hr {
    opacity: 1;
    width: 100%;
}


.menuItem:hover .menuLink {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */

.header {
    padding: 130px 0px;
    background: url(../images/header.webp);
    max-height: 570px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    font-size: 44px;
    letter-spacing: 1.4px;
    line-height: 56px;
    margin-bottom: 16px;
    color: white;
    font-weight: 400;
    font-family: 'ClassicalGaramondBT';
}

.pageSubtitle {
    font-size: 14px;
    letter-spacing: .6px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
    font-family: 'ScalaSansOT';
}

.headerButtons {
    display: grid;
}

.whiteButton {
    min-width: 200px;
    padding: 14px 20px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #1a1919;
    display: inline-block;
    font-size: 11px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    max-width: 200px;
    cursor: pointer;
    font-family: 'ScalaSansOT';
    margin-top: 20px;
}

.whiteButton:hover {
    background: transparent;
    color: white;
}


/* SWIPER TEXT */

.swiperText {
    width: 700px;
    margin: 0 auto;
    height: 150px;
}

.sliderBlock {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #f6f4f2;
}

.swiperText .swiper-slide {
    text-align: center;
}

.swiperTextTitle {
    color: var(--main);
    font-size: 10px;
    letter-spacing: 1.6px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'ClassicalGaramondBT';
}

.swiperTextDesc {
    font-family: 'ClassicalGaramondBT';
    color: var(--dark);
    font-size: 18px;
    letter-spacing: .4px;
    line-height: 33px;
    margin: 0 auto 20px;
    max-width: 400px;

}

.swiperTextDesc a {
    color: var(--main);
}

.swiperText .swiper-pagination {
    bottom: 20px;
}


.swiperText::before {
    bottom: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 3;
    background: linear-gradient(to left, rgba(246, 244, 242, 0), #f6f4f2);
    left: 0;
}

.swiperText::after {
    bottom: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 3;
    background: linear-gradient(to right, rgba(246, 244, 242, 0), #f6f4f2);
    right: 0;
}


.swiper-pagination-bullet {
    width: 3px;
    height: 3px;
}

.swiper-pagination-bullet-active {
    background: var(--dark);
}

/* BLOCKS */


.items {
    background: #f6f4f2;
}

.itemBlockText {
    padding: 41px 40px 27px;
    background: white;
    height: 310px;
}

.itemsBlockItem {
    width: calc(50% - 30px);
}

.itemBlockImage {
    width: 100%;
    height: 427px;
    object-fit: cover;
}

.itemBlockText {
    text-align: center;
}

.itemBlockSubtitle {
    color: var(--main);
    font-size: 10px;
    letter-spacing: 1.6px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'ClassicalGaramondBT';
}

.itemBlockTitle {
    font-size: 36px;
    letter-spacing: 1.6px;
    line-height: 50px;
    margin-bottom: 15px;
    text-transform: none;
    font-family: 'ClassicalGaramondBT';
    color: #453f3f;

}

.itemBlockDesc {
    line-height: 28px;
    margin: 0 auto 16px;
    max-width: 348px;
    letter-spacing: 1px;
    color: #453f3f;
    font-size: 14px;
    font-family: 'ScalaSansOT';
}

.itemBlockButton {
    display: inline-block;
    font-size: 10px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    max-width: 280px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    font-family: 'ScalaSansOT';
    min-width: 10px;
    background-color: transparent;
    border: 1px solid #b4b4b4;
    color: #1a1919;
    margin: 0 8px 8px;
    cursor: pointer;
}

.itemsBlock {
    display: flex;
    justify-content: space-between;
}

.itemBlockButton:hover {
    border: 1px solid #1a1919;
}

.items {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tabs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #efedea;
}

.tabsMenu p {
    color: #626262;
    font-family: 'ScalaSansOT';
    font-size: 11px;
    letter-spacing: 2.08px;
    line-height: 14px;
    padding: 14px 0 7px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.tabsMenu p:hover {
    border-bottom: 1px solid #626262;
}

.tabsMenuActive {
    border-bottom: 1px solid #626262 !important;
}

.tabsMenu {
    display: flex;
    justify-content: center;
}

.tabItem {
    max-width: 640px;
    margin: 0 auto;
    color: #453f3f;
    font-size: 14px;

    line-height: 1.6;
    letter-spacing: 1px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.tabItem p {
    font-family: 'ScalaSansOT' !important;
}
.tabVisible {
    display: block;
    opacity: 1;
}

.tabsList {
    margin-top: 20px;
}

.tabsMenu p {
    margin-right: 40px;
}


/* CUSTOMERS */

.customers {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #efedea;
}

.customers h1 {
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: none;
    text-align: center;
    margin-bottom: 40px;
    color: #1a1919;
    font-family: 'ClassicalGaramondBT';
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
}


.customerSlider .swiper-slide {
    width: 380px;
    height: auto;
    background: white;
}

.customerSlider .swiper-slide img {
    width: 100%;
}

.customSliderImage {
    padding: 20px 24px;
    background: #fcfaf7;
}

.customSliderText {
    padding: 20px 24px;

}

.customSliderTitle {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 10px;
    font-family: 'ClassicalGaramondBT';
}

.customSliderDesc {
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 20px;
    min-height: 40px;
    color: #c1c1c1;
    font-family: 'ScalaSansOT';
}

.swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 100px;

}

.swiper-button-prev:hover {
    background: white;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev i {
    color: #1a1919;
    font-size: 16px;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-next i {
    color: #1a1919;
    font-size: 16px;
}

.swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.swiper-button-next:hover {
    background: white;
}

.productSlider {
    background: #f6f4f2;
    padding-top: 75px;
    padding-bottom: 0px;
}

.textSlide p:first-child {
    color: #9a7b69;
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 16px;
    margin-bottom: 16px;

}

.textSlide h1 {
    font-size: 36px;
    letter-spacing: 1.5px;
    line-height: 50px;
    margin-bottom: 25px;
    text-transform: none;
    font-weight: 400;
}



.textSlideDesc {
    color: #1a1919;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 38px;
    font-family: 'ScalaSansOT';
    line-height: 1.6;
    width: 80%;
}

.mainButton {
    background-color: #1a1919;
    border: 1px solid #1a1919;
    color: #fff;
    display: inline-block;
    font-family: 'ScalaSansOT';
    font-size: 10px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    min-width: 200px;
    max-width: 240px;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
}

.customSliderImage img {
    width: 100%;
}

.productSlider .customSliderText {
    background: white;
}

.productSlider .swiper-wrapper {
    align-items: center;
}

.joinText {
    background: white;
    padding: 40px;
}

.joinBlock {
    display: flex;
    max-height: 250px;
}

.joinBlock img {
    width: 50%;
    object-fit: cover;
}

.join {
    background: #efedea;
    padding-top: 45px;
    padding-bottom: 45px;

}

.joinTextTitle {
    font-size: 32px;
    line-height: 40px;
}

.joinTextSmall {
    color: #9a7b69;
    font-size: 12px;
    letter-spacing: 1.7px;
    line-height: 16px;
    font-family: "ClassGarmnd BT", "Times New Roman", serif;
    text-transform: uppercase;
}

.joinTextTitle {
    color: #1a1919;
    margin-top: 10px;
}

.joinTextDesc {
    margin-top: 10px;
    font-family: 'ScalaSansOT';
    font-size: 14px;
    margin-bottom: 30px;
    max-width: 400px;
}

.mainButton {
    cursor: pointer;
}

.mainButton:hover {
    border: 1px solid #1a1919;
    background: transparent;
    color: #1a1919;
}

.joinText {
    position: relative;
    width: 100%;
}

.joinText::after {
    background-image: url(../images/ribbon-gold-corner-desktop.svg);
    height: 96px;
    width: 90px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.informed {
    background-color: rgba(26, 25, 25, .96);
    padding-top: 40px;
    padding-bottom: 40px;
}

.infLeft {
    width: 100%;
    max-width: 520px;
}

.infLeft h1 {
    margin-bottom: 8px;
    max-width: 350px;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 36px;
    text-transform: none;
    color: white;
    font-family: 'ClassicalGaramondBT';
    font-weight: 500;
}

.infLeft p {
    color: #ccc;
    margin-top: 10px;
    font-family: 'ScalaSansOT';
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    letter-spacing: 1px;
}


.infRight {
    align-items: flex-end;
    display: flex;
}

.informed .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infLeft a {
    color: var(--main);
    border-bottom: 1px solid var(--main);
}

#informedInput {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    letter-spacing: .5px;
    margin-top: 8px;
    padding: 12px 21px;
    width: 100%;
    appearance: none;
    border-radius: 2px;
    border: 1px solid white;
    max-height: 45px;
    min-width: 220px;
    max-width: 320px;
    font-family: 'ScalaSansOT';
}

.infRight label {
    color: #ccc;
    font-size: 14px;
    font-family: 'ScalaSansOT';
}

.informedButton {
    display: inline-block;
    font-size: 11px;
    letter-spacing: 2px;
    width: auto;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    line-height: 1.2;
    min-width: 200px;
    max-width: 280px;
    padding: 14px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-family: 'ScalaSansOT';
    display: inline-block;
    max-height: 45px;
}

.informedButton:hover {
    background: white;
    color: rgba(26, 25, 25, .96);
}



/* FOOTER */

footer {
    background: #1a1919;
}

.footerBody {
    max-width: 1260px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 55px;
    padding-top: 40px;
}
.informed .container {
    max-width: 1260px;
}
.footerBody::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #979797;
    display: block;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footerLinkTitle {
    color: #fff;
    pointer-events: none;
    font-size: 14px;
    letter-spacing: .75px;
    line-height: 18px;
    font-family: 'ScalaSansOT';
    text-transform: none;
    border: 0;
    padding: 0;
    margin-bottom: 16px;
}

.footerLinks li {
    margin-bottom: 5px;
}

.footerLinks li a {
    font-size: 13px;
    letter-spacing: .7px;
    font-family: 'ScalaSansOT';
    line-height: 15px;
    color: #a4a4a4;
    border-bottom: 1px solid transparent;
    transition: 0.2s;
}

.footerLinks li a:hover {
    border-bottom: 1px solid #a4a4a4;
}

.adress p {
    color: #a4a4a4;
    font-size: 13px;
    line-height: 2.2;
}

.footerHelp {
    color: white;
}

.footerBody {
    display: flex;
    justify-content: space-between;
}

.timeList li {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.timeList p {
    color: #a4a4a4;
    font-family: 'ScalaSansOT';
    font-size: 13px;
    letter-spacing: .7px;
    line-height: 15px;
    transition: 0.2s;
}

.timeList li {
    margin-bottom: 10px;
}

.phoneNumber {
    margin-bottom: 20px !important;
}

.footerInfo {
    width: 260px;
}
.footerMedia {
    margin-top: 20px;
}
.footerMedia i {
    font-size: 15px;
    line-height: 15px;
    margin-right: 30px;
    color: #a4a4a4;
}

.footerLinks {
    max-width: 725px;
    width: 725px;
}

.googleMapsLink {
    font-weight: 500;
    color: white !important;
}

.googleMapsLink:hover {
    text-decoration: none;
    border: none;
}

.footerBottom {
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
    display: flex;
    justify-content: center;
}

.footerBottom * {
    color: #767676;
    font-family: 'ScalaSansOT';
    font-size: 12px;
}


.footerBottom ul {
    display: flex;
}

.footerBottom > p {
    margin-right: 40px;
}

.footerBottom li {
    position: relative;

}

.footerBottom li::after {
    content: '|';
    position: absolute;
    right: -10px;
    top: 0;
}

.footerBottom li {
    margin-right: 10px;
    margin-left: 10px;
}

.footerBottom li:last-child::after {
    display: none;
}

.productSlider .container {
    max-width: 1140px;
}


@media (max-width: 1460px) {
    .informed .container {
        max-width: 1120px;
    }
    .footerBody {
        max-width: 1120px;
    }
}